.root {
    -fx-font-family: Lato, Roboto, Helvetica, Arial, SansSerif;
}

.tree-table-view.podcastcentral-library .tree-table-row-cell.podcastcentral-feed {
    -fx-background-color: -fx-table-cell-border-color, derive(-fx-control-inner-background,-5%);
    -fx-background-insets: 0, 0 0 1 0;
}
.tree-table-view.podcastcentral-library .tree-table-row-cell.podcastcentral-feed:selected {
    -fx-background-color: -fx-focus-color, -fx-cell-focus-inner-border, -fx-focus-color;
    -fx-background-insets: 0, 1, 2;
}

.tree-table-view.podcastcentral-library .tree-table-row-cell.podcastcentral-episode.podcastcentral-unread .text-field-tree-table-cell, .tree-table-view.podcastcentral-library .tree-table-row-cell.podcastcentral-episode.podcastcentral-unread .label {
    -fx-text-fill: #007700;
}

.tree-table-view.podcastcentral-library .tree-table-row-cell.podcastcentral-episode.podcastcentral-unread:selected  .text-field-tree-table-cell, .tree-table-view.podcastcentral-library .tree-table-row-cell.podcastcentral-episode.podcastcentral-unread:selected .label {
    -fx-text-fill: -fx-selection-bar-text
}

.text {
    -fx-font-smoothing-type: gray;
}
